.datalist{
    border:1px solid #0058a3;   /* 表格边框 */
    font-family:Arial;
    border-collapse:collapse;   /* 边框重叠 */
    background-color:#c7e5ff;   /* 表格背景色 */
    font-size:14px;
}
.datalist th{
    border:2px solid #0058a3;   /* 行名称边框 */
    background-color:#4bacff;   /* 行名称背景色 */
    color:#FFFFFF;              /* 行名称颜色 */
    font-weight:bold;
    padding-top:5px; padding-bottom:5px;
    padding-left:5px; padding-right:5px;
    text-align:center;
}
.datalist td.tdcenter{
    border:1px solid #0058a3;   /* 单元格边框 */
    text-align:center;
    padding-top:5px; padding-bottom:5px;
    padding-left:5px; padding-right:5px;
}
.datalist td.tdleft{
    border:1px solid #0058a3;   /* 单元格边框 */
    text-align:left;
    padding-top:5px; padding-bottom:5px;
    padding-left:5px; padding-right:5px;
}
.datalist tr.altrow{
    background-color:#eaf5ff;   /* 隔行变色 */
}
.ui-dialog{
    width: 850px;display: none;
    position: absolute;z-index: 9000;
    top: 0px;left: 0px;
    border: 1px solid #D5D5D5;background: #fff;
}

.ui-dialog a{text-decoration: none;}

.ui-dialog-title{
    height: 35px;line-height: 35px; padding:0px 20px;color: #535353;font-size: 14px;
    border-bottom: 1px solid #efefef;background: #f5f5f5;font-weight: bold;
    cursor: move;
    user-select:none;
}

.ui-dialog-content{
    padding: 15px 20px;
}
.ui-dialog-pt15{
    padding-top: 15px;
}
.ui-dialog-l40{
    height: 40px;line-height: 40px;
    text-align: left;
}
.ui-dialog-l70{
    height: 70px;line-height: 25px;
    text-align: left;
}
.ui-dialog-input{
    width: 100%;height:auto;
    margin: 0px;padding:0px;
    border: 1px solid #d5d5d5;
    font-size: 12px;
    outline: none;
}
.ui-dialog-submit{
    width: 100px;height: 35px;font-size: 14px;text-align: center;line-height: 35px;font-weight: bold;
}

.ui-mask{
    width: 100%;height:15%;background: #000;margin-top: 6%;
    position: absolute;top: 0px;height: 0px;z-index: 8000;
    opacity:0.4; filter: Alpha(opacity=40);
}
.counter{
    text-align: center;
    position: relative;
}
.counter .counter-content{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    margin: 7px auto 7px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.counter .counter-content:before{
    content: "";
    width: 136%;
    height: 136%;
    border-radius: 50%;
    border: 15px solid peru;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.counter .counter-content:after{
    content: "";
    border-top: 16px solid peru;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}
.counter .counter-value{
    font-size: 18px;
    font-weight:bolder;
    color: rgba(0,0,0,0.7);
    line-height: 45px;
}
.counter .title{
    background: peru;
    border-radius: 15px;
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    margin: 15px;
    line-height: 20px;
}
.counter.red .counter-content:before{
    border-color: #ef5f61;
    border-bottom-color: transparent;
}
.counter.red .counter-content:after{ border-top-color: #ef5f61; }
.counter.red .counter-icon{ color: #ef5f61; }
.counter.red .title{ background: #ef5f61; }
.counter.blue .counter-content:before{
    border-color: #4d9fcf;
    border-bottom-color: transparent;
}
.counter.blue .counter-content:after{ border-top-color: #4d9fcf; }
.counter.blue .counter-icon{ color: #4d9fcf; }
.counter.blue .title{ background: #4d9fcf; }
.counter.purple .counter-content:before{
    border-color: #a98ceb;
    border-bottom-color: transparent;
}
.counter.purple .counter-content:after{ border-top-color: #a98ceb; }
.counter.purple .counter-icon{ color: #a98ceb; }
.counter.purple .title{ background: #a98ceb; }
.counter.tomato .counter-content:before{
    border-color: #4f6b72;
    border-bottom-color: transparent;
}
.counter.tomato .counter-content:after{ border-top-color: #4f6b72; }
.counter.tomato .counter-icon{ color: #4f6b72; }
.counter.tomato .title{ background: #4f6b72; }
.counter.green .counter-content:before{
    border-color: darkgreen;
    border-bottom-color: transparent;
}
.counter.green .counter-content:after{ border-top-color: darkgreen; }
.counter.green .counter-icon{ color: darkgreen; }
.counter.green .title{ background: darkgreen; }

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #0480be;
  text-decoration: none;
  position: relative;
  height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #0e90d2;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #0e90d2;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #0e90d2;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #0480be;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #0480be;
}
div.search {
    width: 90%;
    margin-left: 5%;
    font-size: 0.14rem;
    padding-left: 0.17rem;
    height: 0.65rem;
    line-height: 0.70rem;
    padding-right: 0.12rem;
    border-radius: 0.05rem;
    box-sizing: border-box;
}
.d2 {background: #4d9fcf;box-sizing: border-box;}
.d2 input, .d2 button {
  border: none;
  outline: none;
  border-radius: 3px;
    box-sizing: border-box;
}
.d2 input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.d2 button {
  height: 43px;
  width: 86px;
  position: relative;
  top: -4.0em;
  right: -80%;
  background: #0480be;
  cursor: pointer;
}
.d2 button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 40px;
  font-weight: bold;
    position: absolute;
    top: -13px;
}

.pricingTable{
    text-align: center;
    background: whitesmoke;
    border-radius: 0.05rem;
    box-sizing: border-box;
    border:solid #0480be 1px;
}
.pricingTable .title{
    font-size: 18px;
    font-weight: 500;
    color: #2e282a;
    text-transform: uppercase;
}
.pricingTable .price-value{
    padding: 30px 0;
    background: #0480be;
    position: relative;
    box-sizing: border-box;
}
.pricingTable .price-value:before{
    content: "";
    border-top: 15px solid whitesmoke;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 46%;
}
.pricingTable .month{
    display: block;
    font-size: 15px;
    font-weight: 900;
    color: whitesmoke;
    text-transform: uppercase;
}

.pricingTable .value{
    font-size: 20px;
    position: absolute;
    top: 21px;
    right: -27px;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 30px 0;
    list-style: none;
}
.pricingTable .pricing-content li{
    font-size: 16px;
    color: #868686;
    line-height: 35px;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}