select {
    width: auto;
}
*{ margin:0; padding:0; }
html,body{
    height: 100%;
    min-height: max-content;
    background-image:url('/static/images/blueprint.png');
    font-size: 14px;
    line-height:1.3;
}
.fl {
    float:left;
    width:9%;
    margin-left:0.1%;
}
.Page {
    text-align:center;
    float:right;
    width:90%;
    box-sizing: border-box;
    min-height:max-content;
    padding-bottom: 10px;
    margin-top: 0.6%
}
.Page_other {
    text-align:center;
    box-sizing: border-box;
    min-height:max-content;
    padding-bottom: 10px;
    margin-top: 0.6%
}
.header{
    height:auto;
}
footer{
    text-align:center;
    font-size:7pt;
    color:black;
    height:max-content;
    margin-top: 10px;
    opacity: 0.6;

}
.leftSide{
    width:auto;
    height:auto;
    text-align:center;
}
.font1{
    font-size:7pt;
    color:red;
}
.font2{
    font-size:12pt;
    color:orangered;
}
.font3{
    text-align:left;
    font-size:10pt;
    color:black;
}
.div{
    text-align:center;
    color: black;
    font-weight: bold;
}
.left1_div{
    width:99%;
    float:left;
    margin-top: 2%;
}
.left2_div{
    width:80%;
    float:left;
}
.left_txt{
    margin-top: 4%;
    test-align:left;
    width: 50%;
    margin-left: 25%;
    border:1px solid #e5e5e5;
}
.center_div{
    test-align:center;
    width: 50%;
}
.resource_pool{
    width:40% ;
    float:left;
    margin-top:1%;
    margin-left:2%;
    text-align: center;
    border: 1px solid lightskyblue;
}
.business{
    margin-top:1%;
    float:left;
    width:94px;
    height:94px;
    line-height:94px;
    border-radius:47px;
    border:solid lightgrey 1px;
    text-align: center;
    margin-left: 1%;
    background-color: #fcf8e3;
    overflow: hidden;
}
.assets{
    float:left;
    width: 12%;
    margin-left: 6.5%;
    height: 60px;
    text-align: center;
    line-height:60px;
    font-size:14px;
}
.index_zabbix{
    background-color:whitesmoke;
    color:orangered;
    float: right;
    font-weight:normal;
}
.table_list{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    max-width: 100px;
}
.progress{
    height: 3px;
    background:skyblue;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    position: relative;
    -webkit-animation: animate-positive 3s;
    animation: animate-positive 3s;
}
.progress .progress-bar:after{
    content: "";
    display: inline-block;
    width: 20px;
    background:skyblue;
    position: absolute;
    top: -5px;
    bottom: -8px;
    right: 0px;
    z-index: 1;
    transform: rotate(0deg);
}
.progress .progress-value{
    display: block;
    font-size: 14px;
    color: tomato;
    position: absolute;
    top: -30px;
    right: -25px;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive {
    0%{ width: 0; }
}
#MinimalTip {
	font-family: Helvetica, Sans-Serif;
	font-size: 11px;
	color: #EEE;

	border: 1px solid #000;

	background: #222;

	position: absolute;
	padding: 2px 5px;
	display: none;

	max-width: 260px;

	z-index: 3001; /* Aumente ou diminua se for necessário */

	box-shadow: 1px 1px 2px #000;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 135, color = '#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 135, Color = '#000000')";

	opacity: 0.9;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-webkit-opacity:0.9
}
.style_border{border:1px solid gainsboro;border-radius:4px}
.style_hr{height:2px; border-top:1px solid #34495e;width: 99%;clear:both;}
.grid {
    position: relative;
    /* fluffy */
    margin: 0 auto;
    width: 98%;
    margin-top: 2%;
}
.grid-item {
    position: absolute;
    /* fluffy */
    opacity: 0;
    box-shadow: 1px 1px #9E9E9E;
    width: 300px;
    height: 120px;
    border-radius: 3px;
    background-color: #0480be;
    overflow: hidden;
    /* end fluffy */
}
.grid-item .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background:#34495e;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.grid-item .grid-style{
    color: whitesmoke;
    font-size:x-large;
}
.grid-style:hover + .social{ bottom: 45px;}
.grid-item .social li{display: block;color: whitesmoke}
.grid-item .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

@media (max-width: 600px) {
  .grid-item {
    width: 120px;
    height: 80px;
  }
}
.td_style {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
}