/*导航菜单*/
#navMenu {
	width:100%;
	height: 25px;
	line-height: 25px;
	display:block;
	overflow:hidden;
	background-repeat:repeat-x;
	background-position: left top;
    background:#0480be;
}
#navMenu ul{
width:95%;
margin-left:35px;
}

#navMenu li {
	width:auto;
	text-align:center;
	float: left;
	line-height: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 0 center;
	margin-left: -2px;
}

#navMenu li a {
	color:white;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 2px;
	display: block;
    font-size: 13px;
    font-weight: 300;
}
#navMenu li a:hover, #navMenu li.hover a {
	background-repeat:repeat-x;
	background-position: center top;
	text-decoration: none;
	color:orangered;
	background:#c4e3f3;
}
/*-------- 下拉菜单 --------------*/
.dropMenu {
	position:absolute;
	top: 0;
	z-index:100;
	width:110px;
	visibility: hidden;
/*  	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000, direction=135, strength=4);
*/	margin-top: -1px;
	margin-left:-3px;
    margin-right:-3px;
	border: 1px solid #4D5B66;
	border-top: 1px solid #4D5B66;
	padding-top:6px;
	padding-bottom:6px;
	filter: Alpha(Opacity=85);
    font-size: 12px;
    font-weight: 300;
    background-color:#c4e3f3;
}

.dropMenu li {
	margin-top:2px;
	margin-bottom:4px;
	padding-left:6px;
}
.dropMenu li a {
	width: 100%;
	display: block;
	text-align:left;
	padding: 4px 0 4px 0px;
	color:black;
	border-bottom: 1px dashed #4D5B66;
    background-color:#c4e3f3;
}
.dropMenu+li a{
border-top:none;
}
* html .dropMenu a {
	width: 100%;
	color:black;
}
.dropMenu a:hover {
	text-decoration: underline;
	color:blue;
}

.hdo{
width:100%;
height:auto;
display:block;
overflow:hidden;
}
/*侧边菜单*/
.accordion {
 	width: 100%;
 	max-width: 250px;
 	margin: 10px auto 10px;
 	background:#0480be;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
	-webkit-box-shadow: 3px 3px 3px;
	-moz-box-shadow: 3px 3px 3px;
	box-shadow: 3px 3px 3px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 12px 12px 12px 38px;
	color: white;
	font-size: 13px;
	font-weight: 300;
    border-top: #CCC;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 1px solid #CCC;
}

.accordion li i {
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 12px;
	color: black;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 12px;
}

.accordion li.open .link {
	color: orangered;
}

.accordion li.open i {
	color: orangered;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background:#c4e3f3;
 	font-size: 13px;
 }

 .submenu li {
 	border-bottom: 1px solid #4f6b72;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: black;
 	padding: 8px;
 	padding-left: 6px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background:#CCCCCC;
 	color:blue;
 }
/*登陆样式*/
.content {
    width:600px;
    height:600px;
    margin:50px auto 10px auto;
}
.login-form {
    width:400px;
    height:auto;
    margin:70px auto 0;
    padding-top:73px;
    position:relative;
    color: white;
    background-color:#0e90d2;
    box-shadow:0 3px 3px rgba(21,62,78,0.8);
}
.login-form:before {
    content:"";
    position:absolute;
    top:-50px;
    left:150px;
    width:102px;
    height:102px;
    padding:2px;
    border:1px solid rgb(216,216,219);
    background:#fff url("/static/images/profile.jpg") no-repeat 2px 2px;
}
.login-form div {
    width:216px;
    height:28px;
    margin:20px auto;
    position:relative;
    line-height:28px;
    border:none;
}
/*其它样式*/
.center-vertical {
        position:relative;
        top:20%;
        transform:translateY(-50%);
    }
.carousel-other{
	width:20px;
	font-size:30px;
	height:20px;
	line-height:50%;
	left:0px
}
ul,ol,li{list-style-type:none;}
.fl {float:left;width:10%;display: inline}
.Page {text-align:center;float:right;width:89%;display: inline}
.header{height:auto}
.footer{clear:both; text-align:center;font-size:7pt;color:black;bottom:0;marker-end: 5%;margin-top: 5%}
.leftSide{width:auto;height:auto;text-align:center}
.body{font-size:11pt}
.font1{font-size:7pt;color:red}
.font2{font-size:12pt;color:orangered}
.font3{text-align:left;font-size:10pt;color:black}
.div{text-align:center;color: black;font-weight: bold}
.left_div{width:49%; float:left;border:1px solid #e5e5e5}
.right_div{width:49%; float:left;margin-left:1%;border:1px solid #e5e5e5}
.left1_div{width:99%;float:left;margin-top: 2%}
.left2_div{width:80%;float:left;}
.left_txt{margin-top: 4%;test-align:left;width: 50%;margin-left: 25%;border:1px solid #e5e5e5}
.center_div{test-align:center;width: 50%}
.alpha { filter: Alpha(Opacity=30, FinishOpacity=50, Style=0, StartX=0, StartY=0, FinishX=100, FinishY=100)}