select {
    width: auto;
}
html,body{
    height: 100%;
    min-height: max-content;
    background-image:url('/static/images/blueprint.png');
}
.fl {
    float:left;
    width:9%;
    margin-left:0.1%;
}
.Page {
    text-align:center;
    float:right;
    width:90%;
    box-sizing: border-box;
    min-height:max-content;
    padding-bottom: 10px;
    margin-top: 0.6%
}
.header{
    height:auto;
}
footer{
    text-align:center;
    font-size:7pt;
    color:black;
    height:max-content;
    margin-top: 10px;
    opacity: 0.6;

}
.leftSide{
    width:auto;
    height:auto;
    text-align:center;
}
.font1{
    font-size:7pt;
    color:red;
}
.font2{
    font-size:12pt;
    color:orangered;
}
.font3{
    text-align:left;
    font-size:10pt;
    color:black;
}
.div{
    text-align:center;
    color: black;
    font-weight: bold;
}
.left1_div{
    width:99%;
    float:left;
    margin-top: 2%;
}
.left2_div{
    width:80%;
    float:left;
}
.left_txt{
    margin-top: 4%;
    test-align:left;
    width: 50%;
    margin-left: 25%;
    border:1px solid #e5e5e5;
}
.center_div{
    test-align:center;
    width: 50%;
}
.resource_pool{
    width:40% ;
    float:left;
    margin-top:1%;
    margin-left:2%;
    text-align: center;
    border: 1px solid lightskyblue;
}
.business{
    margin-top:1%;
    float:left;
    width:94px;
    height:94px;
    line-height:94px;
    border-radius:47px;
    border:solid lightgrey 1px;
    text-align: center;
    margin-left: 1%;
    background-color: #fcf8e3;
}
.assets{
    float:left;width: 10%;
    margin-left: 6.5%;
    height: 60px;
    text-align: center;
    line-height:60px;
    font-size:14px;
    margin-top: 1%;
    padding: 8px 16px 8px 16px;
}
.index_zabbix{
    background-color:whitesmoke;
    color:orangered;
    float: right;
    font-weight:normal;
}
.table_list{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    max-width: 100px;
}
.progress{
    height: 3px;
    background:skyblue;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    position: relative;
    -webkit-animation: animate-positive 3s;
    animation: animate-positive 3s;
}
.progress .progress-bar:after{
    content: "";
    display: inline-block;
    width: 20px;
    background:skyblue;
    position: absolute;
    top: -5px;
    bottom: -8px;
    right: 0px;
    z-index: 1;
    transform: rotate(0deg);
}
.progress .progress-value{
    display: block;
    font-size: 14px;
    color: tomato;
    position: absolute;
    top: -30px;
    right: -25px;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive {
    0%{ width: 0; }
}
.style_border{border:1px solid gainsboro;border-radius:4px}
.style_hr{height:2px; border-top:1px solid lightskyblue;width: 99%;clear:both;}
.visualwrapper{width:100%;min-height:100%;margin:0 auto;padding:2rem 8rem;background-color:#fff}
.tooltip-example-right,.tooltip-example-left{position:absolute}
.tooltip-example-right{top:0;right:0}
.tooltip-example-left{top:50%;left:0}
@font-face{font-family:Source Sans Pro;src:local("Source Sans Pro"),url("/static/font/SourceSansPro-Regular.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:Source Sans Pro;src:local("Source Sans Pro"),url("/static/font/SourceSansPro-Semibold.ttf") format("truetype");font-weight:bold;font-style:normal}
@font-face{font-family:Source Sans Pro;src:local("Source Sans Pro"),url("/static/font/SourceSansPro-SemiboldItalic.ttf") format("truetype");font-weight:bold;font-style:italic}
@font-face{font-family:Source Sans Pro;src:local("Source Sans Pro"),url("/static/font/SourceSansPro-Italic.ttf") format("truetype");font-weight:normal;font-style:italic}
.no-display{display:none}
.tooltip-container{transform:translateZ(0);position:absolute;max-width:200px;padding:8px 10px 10px;font-size:12px;background-color:#7cb342;color:snow;border-radius:4px;opacity:1}
.tooltip-container[class*=" tooltip-"]{-webkit-animation:tooltip-anim 0.8s;-moz-animation:tooltip-anim 0.8s;-o-animation:tooltip-anim 0.8s;animation:tooltip-anim 0.8s}
.tooltip-container::after{position:absolute;display:block;content:""}
.tooltip-container.tooltip-left::after{right:-8px;top:50%;transform:translateY(-50%);border-style:solid;border-width:6px 0 6px 8px;border-color:transparent transparent transparent #7cb342}
.tooltip-container.tooltip-right::after{left:-8px;top:50%;transform:translateY(-50%);border-style:solid;border-width:6px 8px 6px 0;border-color:transparent #7cb342 transparent transparent}
.tooltip-container.tooltip-center::after{top:-8px;left:50%;transform:translateX(-50%);border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #7cb342 transparent}[data-tooltip]{cursor:pointer;color:#7cb342;display:inline-block}
@keyframes tooltip-anim{0%{opacity:0;transform:matrix(0.5, 0, 0, 0.8, 0, 0)}20%{transform:matrix(1.1, 0, 0, 1.1, 0, 0)}40%{opacity:1}70%{transform:matrix(1, 0, 0, 1, 0, 0)}100%{transform:matrix(1, 0, 0, 1, 0, 0)}}
@-webkit-keyframes tooltip-anim{0%{opacity:0;transform:matrix(0.5, 0, 0, 0.8, 0, 0)}20%{transform:matrix(1.1, 0, 0, 1.1, 0, 0)}40%{opacity:1}70%{transform:matrix(1, 0, 0, 1, 0, 0)}100%{transform:matrix(1, 0, 0, 1, 0, 0)}}
