{% extends "base.html" %}
{% block error %}
    <script type="text/javascript">
        function countDown(secs,url){
         var jumpTo = document.getElementById('jumpTo');
         jumpTo.innerHTML=secs;
         if(--secs>0){
             setTimeout("countDown("+secs+",'"+url+"')",1000);
             }
         else{
             location.href=url;
             }
         }
    </script>
    <img src="/static/images/logo.jpg">
    <body class="div">
    {% for i in range(8) %}
        <br>
    {% endfor %}
    您访问的页面不存在,<span id="jumpTo">10</span>秒后页面自动跳转......
    <script type="text/javascript">
     var jumpTo = document.getElementById('jumpTo');
     secs = jumpTo.innerHTML;
    countDown(secs,'/chart');
    </script>
    {% for i in range(8) %}
        <br>
    {% endfor %}
    </body>
    <div class="footer">
        <p>北京百合在线科技有限公司|版权所有© 2005-2017 百合网|运维邮箱:alarm@baihe.com</p>
    </div>
{% endblock error %}
