{% extends "base.html" %}
{% block base %}
<div class="div"><p>线上域名访问占比统计</p></div>
<div style="width: 100%;margin-top: 7%">
    <div style="width: 49%;float: left;display: inline;border:1px solid #e5e5e5">
        <p align="center"><strong>公网域名占比图</strong></p>
        {% pie_chart INTERNET_DOMAIN with id='INTERNET' height='350px' %}
    </div>
    <div style="width: 49%;float: left;display: inline;margin-left:1%;border:1px solid #e5e5e5">
        <p align="center"><strong>内部域名占比图</strong></p>
        {% pie_chart INTRANET_DOMAIN with id='INTRANET' height='350px' %}
    </div>
</div>
{% endblock base %}
