{% extends "base.html" %}
{% block base %}
    <script language="JavaScript">
    function myrefresh()
    {
       window.location.reload();
    }
    setTimeout('myrefresh()',30000); //指定30秒刷新一次
    </script>
    <div class="div">
        <div class="left_div">
            <strong>实时请求流量(Mbps)</strong>
            {% pie_chart val_cli with id='val_cli' height='300px'%}
        </div>
        <div class="right_div">
            <strong>实时响应流量(Mbps)</strong>
            {% pie_chart val_ser with id='val_ser' height='300px'%}
        </div>
        <br><br>
        <div class="left1_div">
            <strong class="left">网站并发访问量（每秒）</strong>
            {% line_chart INTERNET_ACCESS %}
        </div>
    </div>
{% endblock base %}