{% extends "base.html" %}
{% block page %}
    <script language="JavaScript">
        function myrefresh()
        {
           window.location.reload();
        }
        setTimeout('myrefresh()',30000); //指定30秒刷新一次
    </script>
    <div style="width: 100%;margin-top: 3%">
        <div class="div"><p>外部接口访问实时TOP</p></div>
        <div style="width: 49%;float: left;display: inline;border:1px solid #e5e5e5">
                <p align="center"><strong>{{ MM }}分钟内访问接口TOP</strong></p>
                <table class="datalist" border="1" align="center">
                    <tr>
                        <td style="width:660px;overflow:hidden;text-align: center">访问接口</td>
                        <td style="width:80px;overflow:hidden;text-align: center">访问次数</td>
                    </tr>
                    {% for val in URL_DATA_HOUR%}
                        <tr class="altrow">
                            <td style="width:660px;overflow:hidden;text-align: left">{{val[0]}}</td>
                            <td style="width:80px;overflow:hidden;text-align: center">{{val[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <div style="width: 49%;float: left;display: inline;margin-left:1%;border:1px solid #e5e5e5">
                <p align="center"><strong>1分钟访问接口TOP</strong></p>
                <table class="datalist" border="1" align="center">
                    <tr>
                        <td style="width:660px;overflow:hidden;text-align: left">访问接口</td>
                        <td style="width:80px;overflow:hidden;text-align: center">访问次数</td>
                    </tr>
                    {% for val in URL_DATA_MINUTE%}
                        <tr class="altrow">
                            <td style="width:660px;overflow:hidden;text-align: left">{{val[0]}}</td>
                            <td style="width:80px;overflow:hidden;text-align: center">{{val[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
    <br>
    <br>
    <div style="width: 100%;margin-top: 3%">
    <div class="div"><p>内部接口访问实时TOP</p></div>
        <div style="width: 49%;float: left;display: inline;border:1px solid #e5e5e5">
                <p align="center"><strong>{{ MM }}分钟内访问接口TOP</strong></p>
                <table class="datalist" border="1" align="center">
                    <tr>
                        <td style="width:660px;overflow:hidden;text-align: center">访问接口</td>
                        <td style="width:80px;overflow:hidden;text-align: center">访问次数</td>
                    </tr>
                    {% for val in URL_DATA_HOUR2%}
                        <tr class="altrow">
                            <td style="width:660px;overflow:hidden;text-align: left">{{val[0]}}</td>
                            <td style="width:80px;overflow:hidden;text-align: center">{{val[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <div style="width: 49%;float: left;display: inline;margin-left:1%;border:1px solid #e5e5e5">
                <p align="center"><strong>1分钟访问接口TOP</strong></p>
                <table class="datalist" border="1" align="center">
                    <tr>
                        <td style="width:660px;overflow:hidden;text-align: center">访问接口</td>
                        <td style="width:80px;overflow:hidden;text-align: center">访问次数</td>
                    </tr>
                    {% for val in URL_DATA_MINUTE2%}
                        <tr class="altrow">
                            <td style="width:660px;overflow:hidden;text-align: left">{{val[0]}}</td>
                            <td style="width:80px;overflow:hidden;text-align: center">{{val[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
{% endblock page %}
