{% extends "base.html" %}
{% block page %}
    <div class="div"><p>标准化JBOSS环境部署</p></div>
    <br>
    <div align="center" style="margin-top: 4%">
        <form action="/deploy_jboss" method="post">
            {{ form.csrf_token }}
            <label class="checkbox-inline">{{ form.haproxy(style="float: none;margin: auto;margin-left: auto")}}外部haproxy &nbsp;&nbsp;{{ form.haproxy_intranet(style="float: none;margin: auto;margin-left: auto")}}内部haproxy</label>
            <p><font color="red" size="1">(根据项目部署情况选择HAPROXY)</font></p>
            <p>项目域名:{{ form.input_domain (placeholder="请输入域名") }}</p>
            <p><font color="red" size="1">(项目对应多个域名需以,分割)</font></p>
            <hr width="25%" color=#987cb9 SIZE=1>
            {% if g.grade == 0 %}
                <p>线上JBOSS环境部署(可多选):</p>
                <p>War包名:{{form.input_produce(placeholder="请输入包名")}}</p>
                <p>等级:{{ form.select_level }}&nbsp;选择服务器:{{ form.select_produce ( style="vertical-align:middle;",size=4) }}</p>
                <p><font color="red" size="1">(说明:项目部署用时较长)</font></p>
                {{form.submit_produce(class="btn btn-info")}}
                <hr width="25%" color=#987cb9 SIZE=1>
            {% endif %}
            <p>测外JBOSS环境部署(可多选):</p>
            <p>War包名:{{form.input_test(placeholder="请输入包名")}} </p>
            <p>选择要部署的服务器:{{ form.select_test ( style="vertical-align:middle;",size=4) }}</p>
            <p><font color="red" size="1">(说明:项目部署用时较长)</font></p>
            {{form.submit_test(class="btn btn-info")}}
        </form>
    </div>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}