{% extends "base.html" %}
{% block page %}
    <div class="div"><p>NGINX虚拟主机部署</p></div>
    <div align="center" style="margin-top: 4%">
        <form action="/deploy_nginx" method="post">
            {{ form.csrf_token }}
            <br>
            <label class="checkbox-inline">{{ form.haproxy(style="float: none;margin: auto;margin-left: auto")}}外部haproxy &nbsp;&nbsp;{{ form.haproxy_intranet(style="float: none;margin: auto;margin-left: auto")}}内部haproxy</label>
            <p><font color="red" size="1">(根据项目部署情况选择HAPROXY)</font></p>
            <p>项目域名:{{ form.input_domain (placeholder="项目对应多个域名需以,分割")}}</p>
            <p>项目路径:{{ form.input_root (placeholder="nginx虚拟主机root配置参数")}}</p>
            <p>环境:{{ form.select }}&nbsp;等级:{{ form.select_level }}&nbsp;归属:{{ form.select_project }}</p>
            <p><font color="red" size="1">(部署测外项目时,项目等级不需选择)</font></p>
            <p>{{ form.ip(cols = 33, rows = 10,style="width:auto",placeholder="请输入服务器IP")}}</p>
            {{form.submit(class="btn btn-info")}}
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}