{% extends "base.html" %}
{% block page %}
    <div class="div"><p>线上项目文件一致性监控</p></div>
    {% if Infos %}:
        <div align="center" style="margin-top: 4%;width: 100%">
            {% for host in Infos %}
                <div>
                    <p style="text-align: center">服务器:{{ host }}</p>
                    <table class="datalist" border="1" align="center">
                        <tr>
                            <td align="center" width="70%">异常文件路径</td>
                        </tr>
                        {% for path in Infos[host]%}
                            <tr class="altrow">
                                <td width=400>{{path}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}