{% extends "base.html" %}
{% block page %}
    <div id="assets_manage" class="panel panel-info" style="border: 1px solid #a6d3e8 ;float: left;width: 45%;margin-left: 25%;margin-top: 4%">
        <div class="panel-heading" style="background-color: #a6d3e8">
            <h4 class="panel-title" style="margin:0px;color:#374b0b" >内部DNS配置变更</h4>
        </div>
        <div class="panel-body" style="margin-top: 5%">
            <form action="/dns_conf" method="post">
                {{ form.csrf_token }}
                <div style="margin-top: 8%">
                    <p>顶级域名:{{ form.select_domain(style="width:165px")}}</p>
                    <p>二级域名:{{ form.field(style="width:150px") }} </p>
                    <p>解析类型:{{ form.select_type(style="width:75px") }}&nbsp;操作:{{ form.select_action }}</p>
                    <p>IP地址/主机名:{{ form.ip(style="width:120px") }}</p>
                </div>
                <p align="center">{{ form.submit(class="btn-sub") }}</p>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}