{% extends "page.html" %}
{% block page %}
    <div class="div"><p>IDC网关实时流量</p></div>
    <div style="margin-top: 4%;width: 100%">
    {% for key in values %}
        <div style="width: 30%;float:left;margin-left: 3%">
            <p style="text-align: center">抓取时间点:{{ key }}</p>
            <table class="datalist" border="1" align="center">
                <tr>
                    {% for t in tables %}
                        <td> {{ t }}</td>
                    {% endfor %}
                </tr>
                {% for value in values[key] %}
                    {% if value %}
                        <tr class="altrow">
                            {% for val in value %}
                                <td>{{val}}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
{% endblock page %}