{% extends "base.html" %}
{% block page %}
<div class="div"><p>HAPROXY配置重载</p></div>
<p align="center" class="font1" style="margin-top:6%">手动修改数据库内配置后，需点击按钮或者扫描下方二维码</p>
<div style="width: 100%">
    <form action="{{ internet }}" method="get">
        <div style="float:left;width: 50%">
            <p class="font1">测外外部HAPROXY</p>
            <p><img src="{{ qrcode("https://op.baihe.com%s" %internet) }}" height="150" width="150"></p>
            <p>{{ form.submit1(class="btn btn-info") }}</p>
        </div>
    </form>
    <form action="{{ intranet }}" method="get">
        <div style="float:left;width: 50%">
            <p class="font1">测外内部HAPROXY</p>
            <p><img src="{{ qrcode("https://op.baihe.com%s" %intranet) }}" height="150" width="150"></p>
            <p>{{ form.submit2(class="btn btn-info") }}</p>
        </div>
    </form>
</div>
{% endblock page %}

