<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<div class="div"><p>HAPROXY配置重载</p></div>
<p align="center" class="font1" style="margin-top:6%">手动修改数据库内配置后，需手机扫描下方二维码</p>
<div style="width: 100%;margin-left: 20%">
<div style="float:left;width: 50%">
    <p><img src="{{ qrcode('https://op.baihe.com/haproxy_reload/internet') }}" height="150" width="150"></p>
    <p class="font1" style="margin-left:4%">测外外部HAPROXY</p>
</div>
<div style="float:left;width: 50%">
    <p><img src="{{ qrcode('https://op.baihe.com/haproxy_reload/intranet') }}" height="150" width="150"></p>
    <p class="font1" style="margin-left:4%">测外内部HAPROXY</p>
</div>
</div>

