{% extends "base.html" %}
{% block page %}
    <script language="JavaScript">
    function myrefresh()
    {
       window.location.reload();
    }
    setTimeout('myrefresh()',60000); //指定60秒刷新一次
    </script>
    <div class="left_div">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <strong>实时请求流量(Mbps/分钟)</strong>
                    {% pie_chart val_cli with id='val_cli' height='300px'%}
                </div>
                <div class="item">
                    <strong>实时响应流量(Mbps/分钟)</strong>
                    {% pie_chart val_ser with id='val_ser' height='300px'%}
                </div>
            </div>
                    <!-- 轮播（Carousel）导航 -->
            <span class="center-vertical">
                <a class="carousel-control left carousel-other" href="#myCarousel" data-slide="prev">&rsaquo;</a>
                <a class="carousel-control right carousel-other" href="#myCarousel" data-slide="next">&lsaquo;</a>
            </span>
        </div>
    </div>
    <div class="right_div">
        <div id="myCarousel2" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"  ></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                <strong>{{ tm }}分钟内IP访问TOP</strong>
                {% pie_chart IP_DATA_HOUR with id='ip_data_hour' height='300px' %}
                </div>
                <div class="item">
                <strong>全天IP访问TOP</strong>
                {% pie_chart IP_DATA with id='ip_data' height='300px' %}
                </div>
            </div>
                    <!-- 轮播（Carousel）导航 -->
            <span class="center-vertical">
                <a class="carousel-control left carousel-other" href="#myCarousel2" data-slide="prev">&rsaquo;</a>
                <a class="carousel-control right carousel-other" href="#myCarousel2" data-slide="next">&lsaquo;</a>
            </span>
        </div>
    </div>
    <br><br>
    <div class="left1_div">
        <strong class="left">网站并发访问量（每秒）</strong>
        {% line_chart WEB_ACCESS %}
    </div>
{% endblock page %}