{% extends "base.html" %}
{% block index %}
    <div style="display: inline">
        <div style="display:inline">
            <img src="/static/images/logo.jpg">
        </div>
        <div style="font-size:9pt;float:right;text-align:right;display: inline;margin-top: 2%">
            <p>
                你好:<font color="#006400" style="font-weight:bold">{{ datas[0] }}</font>
                &nbsp;<a  href={{ url_for('pw.pw') }}>修改密码</a>
                &nbsp;<a  href={{ url_for('logout.logout',_external=True,_scheme='https') }}>退出</a>
            </p>
        </div>
    </div>
    <div align="right" style="font-size:9pt;text-align:right">
        <p>
            {{ moment().format('YYYY-MM-DD') }}
            &nbsp;今日报警值班:<font color=#ff4500 style="font-weight:bold">{{ datas[1] }}</font>
            &nbsp;明日报警值班:<font color=#006400 style="font-weight:bold">{{ datas[2] }}</font>
            &nbsp;来源IP:<font color="#006400">{{ ip }} </font>
        </p>
    </div>
    <div id="navMenu">
        <ul>
            <li><a href="/index" target="_self">首页</a></li>
            {% for Menu in navMenu %}
            <li><a rel= {{ Menu }} target="page">{{ nav_val[Menu][0][0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <script type='text/javascript' src='/static/js/dropdown.js'></script>
        {% for Menu in navMenu %}
            <ul id={{ Menu }} class="dropMenu">
                {% for val in nav_val[Menu] %}
                    {% if 'http' in val[1] %}
                        <li><a href={{ val[1] }} target="_blank">{{ val[2] }}</a></li>
                    {% else %}
                        <li><a target="page" href={{ url_for(val[1]) }} >{{ val[2] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    <script type="text/javascript">cssdropdown.startchrome("navMenu")</script>
    <br>
    <div style="display: inline">
        <div class="fl">
            <ul id="accordion" class="accordion">
                {% for Menu in submenu %}
                    <li>
                        <div class="link"><i class="fa fa-paint-brush"></i>{{ Menu }}<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            {% for val in sub_val[Menu] %}
                                {% if 'http' in val[0] %}
                                    <li><a href={{ val[0] }} target="_blank">{{ val[1] }}</a></li>
                                {% else %}
                                    <li><a target="page" href={{ url_for(val[0]) }} > {{ val[1] }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="Page">
            <iframe  name="page"  id="iframepage" frameBorder=0 scrolling=no width=100% onLoad="javascript:iFrameHeight()" src="/chart"></iframe>
        </div>
    </div>
    <div class="footer">
        <p>北京百合在线科技有限公司|版权所有© 2005-2017 百合网|运维邮箱:alarm@baihe.com</p>
    </div>
{% endblock index %}