{% extends "page.html" %}
{% block java_publish %}
<div class="div"><p>Jboss项目整包上线</p></div>
<div align="center" style="margin-top: 4%">
    <form action="/publish_java" method="post">
        {{ form.csrf_token }}
        <p><img src="{{ qrcode(qrcode_url) }}" height="70" width="70" align="absmiddle"> &nbsp;上线码:{{ form.code(style="width:100px") }}<a class="font1">(提示需要申请码,请手机扫描左侧二维码申请)</a></p>
        <p>代码库:{{ form.selectWay }}&nbsp;环境:{{ form.selectType }}&nbsp;操作:{{ form.selectAction }}&nbsp;类别:{{ form.selectwork }}&nbsp;等级:{{ form.selectgrade }}&nbsp;{{ form.Gray }}灰度发布</p>
        <p>上线项目变更描述:</p>
        <p>{{ form.changelog(cols = 80, rows = 5) }}</p>
        <p>请输入WAR包名称或者GIT路径:</p>
        <p>{{ form.text(cols = 80, rows = 5) }}</p>
        <p>{{ form.submit(class="Button") }}</p>
    </form>
</div>
<div align="center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
                <p style="font-size:10pt;color:red">{{ message }}</p>
            {% endfor %}
    {% endif %}
{% endwith %}
</div>
{% endblock java_publish %}