<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<div class="div"><p>Kafka信息汇总</p></div>
<div class="total_div">
    <div class="left_div">
        <p>Topics主题:</p>
        <ul>
            {% for topic in topics %}
                <li><a href="/kafka/{{ topic }}">{{ topic }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="right_div">
        <p>Kafka节点:</p>
        <ul>
            {% for broke in brokes %}
                <li>{{ broke}}</li>
            {% endfor %}
        </ul>
    </div>
</div>