<!DOCTYPE html>
<html>
    <head>
        <title>墨迹科技运维综合管理平台</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/spop.css">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/ddLogin.js"></script>
        <script src="/static/js/function.js"></script>
        <script src="/static/js/spop.js"></script>
    </head>
    <body>
        <div class="Page" style="width: 100%">
            <div style="width: 100%;position: absolute; top:0">
                    <div style="width: 10%;float: left;padding-top: 1%">
                        <img class="img-rounded" src="/static/images/logo.gif" style="width: auto; height: auto;max-width: 100%;max-height: 100%;">
                    </div>
                    <div style="float: left;font-size:25pt;color: black;font-weight:bold;margin-top: 1.5%;margin-left: 0.5%">
                            <p>运维综合管理平台</p>
                    </div>
            </div>
            <div style="clear:both"></div>
            <div style="padding-top: 10%" align="center">
                <div class="panel" style="border: 1px solid #a6d3e8 ;width: 25rem;height:25rem">
                    <div class="panel-heading  alert alert-info" >
                        <h3 class="panel-title" style="margin:0px;line-height: 15px">登陆</h3>
                    </div>
                    <div class="panel-body">
                        <div id="login_container"></div>
                    </div>
                </div>
                {% if ENV == 'dev' %}
                    <span class="icon icon-hand-right"></span><a href="https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=dingoa7wymhx6dbeffjels&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=http://172.16.68.13/login">钉钉账户密码登陆>></a>
                {% else %}
                    <span class="icon icon-hand-right"></span><a href="https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=dingoadq3qon8zb34vzdff&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=http://op.moji.com/login">钉钉账户密码登陆>></a>
                {% endif %}
            </div>
            {% if ENV %}
                <script src="/static/js/dingding_dev.js"></script>
            {% else %}
                <script src="/static/js/dingding_pro.js"></script>
            {% endif %}
        </div>
    </body>
    <div style="clear:both"></div>
    <footer>
            <p>北京墨迹风云科技股份有限公司|版权所有© 2009-{{ ym }} 墨迹科技|运维邮箱:yw@moji.com</p>
    </footer>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script language="JavaScript">
                js_msg('{{ messages[-1] }}',5000,'error');
            </script>
        {% endif %}
    {% endwith %}
</html>