{% extends "page.html" %}
{% block page %}
<script type="text/javascript">
function countDown(secs,url){
 var jumpTo = document.getElementById('jumpTo');
 jumpTo.innerHTML=secs;
 if(--secs>0){
     setTimeout("countDown("+secs+",'"+url+"')",1000);
     }
 else{
     location.href=url;
     }
 }
</script>
<br><br>
<div style="padding-top: 12%;text-align:center;font-size:15pt;color:red">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
    {% endif %}
    {% endwith %}
    <span id="jumpTo">30</span>秒后页面自动跳转到首页......
    <script type="text/javascript">
     var jumpTo = document.getElementById('jumpTo');
     secs = jumpTo.innerHTML;
    countDown(secs,'/chart');
    </script>
</div>
{% endblock page %}