{% extends "base.html" %}
{% block page %}
<div class="body"><p>Mongodb信息汇总</p></div>
<div align="center">
    <p>Shard分片:</p>
    <table class="datalist" border="1">
        {% set tables = ('主机','端口','状态') %}
        <tr>
            <td>分片</td>
            {% for i in range(2) %}
                {% for t in tables %}
                    <td>{{ t }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for shard in shards %}
            <tr class="altrow">
                <td>{{ shard }}</td>
                {% for i in range(2) %}
                    <td>{{ shards[shard][i][0] }}</td>
                    <td>{{ shards[shard][i][1] }}</td>
                    <td>{{ shards[shard][i][2] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock page %}