{% extends "base.html" %}
{% block page %}
    <div id="assets_manage" class="panel panel-info" style="border: 1px solid #a6d3e8 ;float: left;width: 45%;margin-left: 25%;margin-top: 4%">
        <div class="panel-heading" style="background-color: #a6d3e8">
            <h4 class="panel-title" style="margin:0px;color:#374b0b" >SQL连接进程清除(<span style="color: red;font-size: small">慎用</span>)</h4>
        </div>
        <div class="panel-body" style="margin-top: 5%">
            <form action="/sql_kill" method="post">
                {{ form.csrf_token }}
                <p>数据库IP:{{ form.ip(cols = 2, rows = 1,size = 21,style="width:145px") }}</p>
                <p>数据库PORT:{{ form.port(cols = 2, rows = 1,size = 18,style="width:120px") }}</p>
                <p>连接状态(进行筛查）:{{ form.select_action }}</p>
                <p>{{ form.submit(class="btn-sub") }}</p>
            </form>
        </div>
    </div>
{% endblock page %}