{% extends "base.html" %}
{% block page %}
<p class="div">MYSQL建库操作</p>
    <div align="center" style="margin-top: 8%">
        <form action="/sql_create" method="post" enctype=multipart/form-data>
            {{ form.csrf_token }}
            <p>数据库库名:{{ form.db_name}}</p>
            <br>
            <p>主库IP地址:{{ form.sql_master }}</p>
            <br>
            {{ form.submit(class="btn btn-info") }}
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success alert-dismissable" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}