{% extends "page.html" %}
{% block mysql_run %}
<p class="div">SQL语句即时执行</p>
<div align="center" style="margin-top: 8%">
    <form action="/sql_run" method="post" enctype=multipart/form-data>
        {{ form.csrf_token }}
        <p>输入数据库库名:{{ form.db_name(cols = 20, rows = 1) }}     文件上传:{{ form.File }}</p>
        <p><font color="red" size="1" >(上传sql文件(不大于200行)或者直接输入sql语句,仅限insert,update,delete,alter,create语句,每句均需以;结尾）</font></p>
        <p>{{ form.sql_text(cols = 120, rows = 15) }}</p>
        {{ form.submit(class="Button") }}
    </form>
</div>
{% endblock mysql_run %}