{% extends "base.html" %}
{% block page %}
    <div class="div" style="margin-top: 1%">
        <a href="/mysql"style="float:left;margin-left: 1.5%"><span class="icon-hand-left" ></span>返回</a>&nbsp;&nbsp
        <span>线上MYSQL(<span style="font-size: smaller;color: blue">{{ ip_app_port }}</span>)实例运行状态</span>
        <div class="style_hr" style="width:96%;margin-left:1.5%;"></div>
    </div>
    <div id = "Lines">
        {% for line in Lines %}
            <div style="margin-left:1.5%;margin-top:1px;width:96%;float:left;border:1px solid gainsboro;overflow: hidden">
                <div style="margin-left: -8%;">
                    {{ echarts_js_dependencies(line) }}
                    {{ echarts_container(line) }}
                    {{ echarts_js_content(line) }}
                </div>
            </div>
        {% endfor %}
        <div style="clear:both"></div>
    </div>
{% endblock page %}