<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script src="/static/js/btn.js"></script>
<div class="div"><p>SQL语句审查</p></div>
<div align="center" style="margin-top: 8%">
    <form action="/mysql_parse" method="post">
        {{ form.csrf_token }}
        <p>输入数据库库名:{{ form.input }} &nbsp;请输入完整sql语句,每句以分号结尾:</p>
        <p>{{ form.text(cols = 120, rows = 15) }}</p>
        <a onclick="btn()">{{ form.submit(class="Button") }}</a>
    </form>
</div>
