{% if publish_info %}
    <div style="font-size:14px">
        <div style="text-align: center;font-weight: bold;margin-top: 1%">----其它事项申请详情----</div>
        <div style="text-align: left;margin-top: 1%">事项标题:{{ publish_info['other_work'][2]|safe }}</div>
        <div style="text-align: left;margin-top: 1%"><p>事项描述:</p>{{ publish_info['other_work'][3]|safe }}</div>
        <div style="text-align: center;font-weight: bold;margin-top: 1%">----申请人详情----</div>
        <div style="text-align: left;margin-top: 1%"><strong>申请人:</strong>{{ publish_info['user_info'][0] }}&nbsp;&nbsp;<strong>部门:</strong>{{ publish_info['user_info'][1] }}</div>
        {% if publish_info['reviewer'] %}
            <div style="text-align: left;margin-top: 1%"><strong>审核人:</strong>{{ publish_info['reviewer'] }}</div>
        {% endif %}
        <div style="text-align: left;margin-top: 1%"><strong>申请时间:</strong>{{ publish_info['other_work'][0] }}&nbsp;{{ publish_info['other_work'][1] }}</div>
        <div style="margin-bottom: 3%"></div>
    </div>
{% endif %}