<!DOCTYPE html>
<html>
<head>
    <div class=".header">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/table_style.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/btn.js"></script>
    </div>
</head>
<body>
{% block page %} {% endblock page %}
</body>
</html>
