<!DOCTYPE html>
<html>
<head>
    <div class=".header">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/table_style.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/btn.js"></script>
    </div>
</head>
<body>
{% block init_system %} {% endblock init_system %}
{% block app %} {% endblock app %}
{% block cdn %} {% endblock cdn %}
{% block clean_project %} {% endblock clean_project %}
{% block clear_redis %} {% endblock clear_redis %}
{% block deploy_jboss %} {% endblock deploy_jboss %}
{% block deploy_nginx %} {% endblock deploy_nginx %}
{% block deploy_php %} {% endblock deploy_php %}
{% block dns_conf %} {% endblock dns_conf %}
{% block examine %} {% endblock examine %}
{% block git_admin %} {% endblock git_admin %}
{% block haproxy_reload %} {% endblock haproxy_reload %}
{% block java_list %} {% endblock java_list %}
{% block java_publish %} {% endblock java_publish %}
{% block java_publish_show %} {% endblock java_publish_show %}
{% block java_update %} {% endblock java_update %}
{% block java_update_show %} {% endblock java_update_show %}
{% block kafka_partition_show %} {% endblock kafka_partition_show %}
{% block kafka_show %} {% endblock kafka_show %}
{% block kestrel %} {% endblock kestrel %}
{% block Message %} {% endblock Message %}
{% block Message_static %} {% endblock Message_static %}
{% block mysql %} {% endblock mysql %}
{% block mysql_kill %} {% endblock mysql_kill %}
{% block mysql_parse %} {% endblock mysql_parse %}
{% block mysql_query %} {% endblock mysql_query %}
{% block mysql_run %} {% endblock mysql_run %}
{% block mysql_scheduler %} {% endblock mysql_scheduler %}
{% block mysqldb %} {% endblock mysqldb %}
{% block op_user %} {% endblock op_user %}
{% block php_list %} {% endblock php_list %}
{% block php_publish %} {% endblock php_publish %}
{% block php_publish_show %} {% endblock php_publish_show %}
{% block php_update %} {% endblock php_update %}
{% block php_update_show %} {% endblock php_update_show %}
{% block qrcode %} {% endblock qrcode %}
{% block server %} {% endblock server %}
{% block server_show %} {% endblock server_show %}
{% block slow_redis_show %} {% endblock slow_redis_show %}
{% block svn_admin %} {% endblock svn_admin %}
{% block svn_admin_show %} {% endblock svn_admin_show %}
{% block tables %} {% endblock tables %}
{% block tables_show %} {% endblock tables_show %}
{% block twemproxy %} {% endblock twemproxy %}
{% block user_show %} {% endblock user_show %}
{% block vpn_admin %} {% endblock vpn_admin %}
{% block vpn_admin_show %} {% endblock vpn_admin_show %}
{% block zk_show %} {% endblock zk_show %}
</body>
</html>
