{% extends "base.html" %}
{% block page %}
    <div class="div" style="margin-top: 10%"><p>修改密码</p></div>
    <br>
    <form action="/pw" method="post">
    <center>
                {{ form.csrf_token }}
                <p>旧密码: {{ form.password(size=15,style="width:150px;") }}</p>
                <p>新密码: {{ form.new_password1(size=15,style="width:150px;") }}</p>
                <p>新密码: {{ form.new_password2(size=15,style="width:150px;") }}</p>
                <p>{{ form.submit(class="btn btn-info") }}</p>
    </center>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}
