{% extends "base.html" %}
{% block password %}
    <img src="/static/images/logo.jpg">
    <hr>
    <div><a href='/index' target="_self" style="margin-left: 3%">返回首页</a></div>
    {% for i in range(6) %}
        <br>
    {% endfor %}
    <div class="div"><p>修改密码</p></div>
    <br>
    <form action="/pw" method="post">
    <center>
                {{ form.csrf_token }}
                <p>原密码: {{ form.password(size=15,style="width:150px;") }}</p>
                <p>新密码: {{ form.new_password1(size=15,style="width:150px;") }}</p>
                <p>新密码: {{ form.new_password2(size=15,style="width:150px;") }}</p>
                <p>{{ form.submit(class="Button") }}</p>
    </center>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <br style="font-size:14pt;color:red"><left>{{ message }}</left></br>
                {% endfor %}
        {% endif %}
    {% endwith %}
    {% for i in range(3) %}
        <br>
    {% endfor %}
    <div class="footer">
        <p>北京百合在线科技有限公司|版权所有© 2005 -2015 百合网|运维邮箱:alarm@baihe.com</p>
    </div>
{% endblock password %}
