{% extends "base.html" %}
{% block page %}
    <div class="div"><p>PHP配置列表修改</p></div>
    <br>
    <div align="center" style="margin-top: 8%">
        <form action="/php_list" method="post" class="form-horizontal">
            {{ form.csrf_token }}
            <p>{{ form.select }} 请选择项目名称:{{ form.Project(class="form-control")}}{{ form.submit_query(class="btn btn-info") }}</p>
            <p>请复制整行查询结果,粘贴到下面文本框并进行相应修改:</p>
            <p>{{ form.text(cols = 120, rows = 4,style="width:auto",placeholder="说明:新项目按照此格式输入:xxx = ['ip','ip','ip'],xxx为项目名称,ip为服务器完整ip地址,删除项目按照此格式输入:xxx = [],xxx为项目名称.") }}</p>
            <p>{{ form.submit_modify(class="btn btn-info") }}</p>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" style="display:inline-block;*display:inline;*zoom:1;">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock page %}