{% extends "base.html" %}
{% block page %}
    <div class="div"><p>PHP项目整包上线</p></div>
    <div align="center" style="margin-top:4%">
        <form action="/publish_php" method="post">
            {{ form.csrf_token }}
            {% if qrcode_url %}
                <p><img src="{{ qrcode(qrcode_url) }}" height="70" width="70" align="absmiddle">&nbsp;上线码:{{ form.code(style="width:100px") }}<a class="font1">(提示需要上线码,请手机扫描左侧二维码申请)</a></p>
            {% endif %}
            <p>代码库:{{ form.selectWay }}&nbsp;环境:{{ form.selecttype }}&nbsp;操作:{{ form.selectaction }}&nbsp;类别:{{ form.selectwork }}&nbsp;{{ form.Gray }}灰度发布</p>
            <p>上线项目变更描述:</p>
            <p>{{ form.changelog(cols = 80, rows = 5,style="width:auto") }}</p>
            <p>请输入SVN或者GIT路径:</p>
            <p>{{ form.text(cols = 80, rows = 5,style="width:auto") }}</p>
            <p>{{ form.submit(class="btn btn-info") }}</p>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success alert-dismissable" style="display:inline-block;*display:inline;*zoom:1;">
                {% for message in messages %}
                    <p>{{ message }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock page %}