{% extends "page.html" %}
{% block php_update_show %}
<script type="text/javascript">
    var id = setInterval("startRequest()",1000);
    function startRequest(){
        $.get("/update_query",function(data){
        if (data != "End"){$("#BUT").before("<p>"+data+"</p>");}
        else {$("#BUT").before("<p>本次操作执行完毕!</p>");clearInterval(id);}
        window.scrollTo(0,document.body.scrollHeight);});
    }
</script>
<div>
    <p>运行结果(执行时间可能会稍长):</p>
    <p id="BUT"></p>
</div>
{% endblock php_update_show %}
