{% extends "base.html" %}
{% block page %}
    <div class="div"><p>上线项目列表</p></div>
    <div align="center" style="margin-top: 3%;">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-condensed" style="table-layout:fixed">
                <thead>
                    <tr>
                        <th style="width: 9%">{{ tables[0] }}</th>
                        <th style="width: 6%">{{ tables[1] }}</th>
                        <th style="width: 18%">{{ tables[2] }}</th>
                        <th>{{ tables[3] }}</th>
                        <th>{{ tables[4] }}</th>
                        <th style="width: 12%">{{ tables[5] }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            {% for info in project[1:] %}
                                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" data-toggle="tooltip" title="{{ info }}">{{ info }}</td>
                            {% endfor %}
                            <td><a href="/project_publish/{{ project[0] }}">上线</a>&nbsp;|
                                <a href="/project_publish/{{ project[0] }}?action=gray">灰度</a>&nbsp;|
                                <a href="/project_publish/{{ project[0] }}?action=rollback">回滚</a>&nbsp;|&nbsp;
                                <a href="/project_publish/{{ project[0] }}?action=delete" style="color: red">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock page %}