{% extends "base.html" %}
{% block page %}
    <div style="clear:both;"></div>
    <div style="font-weight: bolder">{{ total }}</div>
    <div style="float: left;width:98%;margin-left:1%">
        <table class="table table-hover table-striped table-condensed table-bordered" id="table">
            <thead>
                <tr>
                    {% for tab in tables %}
                        <th style="text-align: center;vertical-align: middle">{{ tab }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% if work_orders %}
                <tbody>
                    {% for value in work_orders %}
                        <tr>
                            <td class="td_style" style="text-align: center">
                                <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ value[0] }}</div>
                            </td>
                            {% for val in value[3:5] %}
                                <td class="td_style" style="max-width:130px;text-align: center">
                                    <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ val }}</div>
                                </td>
                            {% endfor %}
                            <td class="table_list" style="max-width:400px">{{ value[5] }}</td>
                            {% for val in value[6:] %}
                                <td class="td_style" style="text-align: center">
                                    <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ val }}</div>
                                </td>
                            {% endfor %}
                            <td class="td_style" style="text-align: center">
                                <a href="#" onclick="work_details_show('/work_details/project_offline/{{ value[0]|safe }}')" class="mintip" title="查看工单详情" >
                                    <i class="fas fa-align-left"></i>
                                </a>
                            </td>
                            <td class="td_style" style="text-align: center">
                                {% if value[2] in ['未受理','未审核','受理中','待审批','审批通过'] %}
                                    <a href="#" onclick="work_details_show('/work_comment/{{ value[0]|safe }}')" class="mintip" title="填写工单问题备注">
                                        <span style="color:darkgreen;font-size: large"><i class="far fa-comment-dots"></i></span>
                                    </a>
                                {% else %}
                                    <a href="#" onclick="work_details_show('/work_comment/{{ value[0]|safe }}')" class="mintip" title="查看工单问题备注">
                                        <span style="color: #0058a3;font-size: large"><i class="far fa-comment-dots"></i></span>
                                    </a>
                                {% endif %}
                            </td>
                            <td class="td_style" style="text-align: center">
                                {% if value[2] in ['未受理','未审核','已退回'] %}
                                    <a href="/project_offline_list?action=repeal&work_number={{ value[0]|safe }}" class="mintip" title="撤销工单">可撤销</a>
                                {% elif value[2] == '受理中' %}
                                    <i class="fas fa-spinner fa-spin"></i>{{ value[2] }}
                                {% else %}
                                    {{ value[2] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
    <div class="ui-mask" id="mask" onselectstart="return false"></div>
    <div class="ui-dialog" id="dialogMove" onselectstart='return false;'>
        <div class="ui-dialog-title" id="dialogDrag"  onselectstart="return false;" >运维工单系统
            <span style="float: right;margin-left: -14%" class="ui-dialog-submit">
                <a href="javascript:hideDialog();" >关闭</a>
            </span>
        </div>
        <div class="ui-dialog-content" id="dialog-content"></div>
        <iframe id="iframe" src="" scrolling="no" style="float: left;border: 0;width:850px;"></iframe>
    </div>
    <script>
        $(document).ready(table_order('table',1));
    </script>
    {% if Msg %}
        <script>
            "use strict";
            js_msg('{{ Msg|safe }}',3000,'info');
            setTimeout(function () {
                referrer_url();
            },4000);
        </script>
    {% endif %}
{% endblock page %}