{% extends "base.html" %}
{% block page %}
<div class="div"><p>项目提测申请</p></div>
<div align="center" style="margin-top: 4%;">
    <form action="/project_apply" method="post">
        {{ form.csrf_token }}
        <p>项目类型:{{ form.Project_types }}&nbsp;&nbsp;前端相关项目是否上线?:{{ form.Front }}&nbsp;&nbsp;资源配置是否正确?:{{ form.Publish_conf }}</p>
        <p>项目描述:</p>
        <p>{{ form.Project_describe(cols = 80, rows = 3,style="width:auto",placeholder="") }}</p>
        <p>提测版本:</p>
        <p>{{ form.Project_content(cols = 80, rows = 3,style="width:auto",placeholder="示例:第一行http://git.hunli.baihe.com/hunli/xxx.git,第二行tag-x.x.x") }}</p>
        <p>回滚版本:</p>
        <p>{{ form.Rollback_version(cols = 80, rows = 3,style="width:auto",placeholder="示例:第一行http://git.hunli.baihe.com/hunli/xxx.git,第二行tag-x.x.x") }}</p>
        <p>{{ form.submit(class="btn btn-info") }}</p>
    </form>
</div>
{% endblock page %}