{% extends "base.html" %}
{% block page %}
<div class="div"><p>生产环境上线申请</p></div>
<div align="left" style="margin-top: 4%">
    <form action="/publish_apply" method="post">
        {{ form.csrf_token }}
        <p>项目类型:{{ form.Project_types }}</p>
        <p>前端相关项目是否上线?:{{ form.Front }}</p>
        <p>线上资源配置及使用确认是否正确?:{{ form.Project_config }}</p>
        <p>项目变更描述:</p>
        <p>{{ form.Project_describe(cols = 80, rows = 5,style="width:auto") }}</p>
        <p>项目内容:</p>
        <p>{{ form.Project_content(cols = 80, rows = 5,style="width:auto") }}</p>
        <p>回滚版本:</p>
        <p>{{ form.Rollback_version(cols = 80, rows = 5,style="width:auto") }}</p>
        <p>{{ form.submit(class="btn btn-info") }}</p>
    </form>
</div>
{% endblock page %}