{% extends "base.html" %}
{% block page %}
    <div style="width: 99%">
        <div class="div">
            <a href="/redis_info"style="float:left;margin-left: 1.5%">
                <span class="icon-hand-left" ></span>返回
            </a>
        </div>
        <div class="style_hr" style="width:97.5%;margin-left:1%;"></div>
        {% if tree %}
            {{ echarts_js_dependencies(tree) }}
            {{ echarts_container(tree) }}
            {{ echarts_js_content(tree) }}
        {% endif %}
    </div>
{% endblock page %}