<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/table_style.css" />
<div>
    <table class="datalist" border="1">
        <tr>
            {% for t in tables %}
                <td>{{ t }}</td>
            {% endfor %}
        </tr>
        {% for val in values %}
            <tr class="altrow">
                {% for v in val %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>