<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/table_style.css" />
<div class="div"><p>SVN账号查询结果:</p></div>
<div>
 <table class="datalist" border="1">
    <tr>
        <td>账号</td><td>密码</td><td>用户组</td>
    </tr>
    {% for user in user_list %}
        <tr class="altrow">
        {% if user|count >3 %}
            <td>{{ user[0] }}</td><td>{{ user[1] }}</td><td>{{ user[2:]|join(',') }}</td>
        {% else %}
            <td>{{ user[0] }}</td><td>{{ user[1] }}</td><td>{{ user[2] }}</td>
        {% endif %}
        </tr>
    {% endfor %}
 </table>
</div>