{% extends "page.html" %}
{% block page %}
<div class="div"><p>SVN账号管理</p></div>
<form action="/svn_admin" method="post">
{{ form.csrf_token }}
<div style="margin-top: 8%;margin-left: 32%">
    <div style="display:inline;float:left;">
        <p style="margin-left:7%">选择操作:{{ form.select_action }}(支持批量操作)</p>
        <p>{{ form.text(cols = 40, rows = 12,style="height: 183px") }}</p>
        <p style="margin-left:70%">{{ form.submit(class="Button") }}</p>
    </div>
    <div style="display:inline;float:left">
        <p style="margin-left:12%"><font color="red" size="2">(开通账号需选择用户组)</font></p>
        <p>{{ form.select_groups(size = 11) }}</p>
    </div>
</div>
</form>
{% endblock page %}