{% extends "base.html" %}
{% block page %}
    <div style="clear:both;"></div>
    <div style="font-weight: bolder">可撤销工单列表</div>
    {% set tables = ('工单号','申请日期','工单类型','工单详情','申请人','状态','操作') %}
    <div style="float: left;width:98%;margin-left: 1%">
        <table class="table table-hover table-striped table-condensed table-bordered" style="margin-top: 1%" id="table">
            <thead>
                <tr>
                    {% for tab in tables %}
                        <th class="td_style" style="text-align: center;">{{ tab }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if work_lists %}
                    {% for value in work_lists %}
                        <tr>
                            <td class="td_style" style="text-align: center">{{ value[0] }}</td>
                            <td class="td_style" style="text-align: center">{{ value[1] }}</td>
                            <td class="td_style" style="text-align: center">{{ source_types[value[2]] }}</td>
                            <td class="td_style" style="text-align: center">
                                <a href="#" onclick="work_details_show('/work_details/{{ order_types[value[2]]|safe }}/{{ value[0]|safe }}')" class="mintip" title="查看工单详情" >
                                    <i class="fas fa-align-left"></i>
                                </a>
                            </td>
                            {% for val in value[3:] %}
                                <td class="td_style" style="text-align: center">{{ val }}</td>
                            {% endfor %}
                            <td class="td_style" style="text-align: center">
                                <a href="/{{ work_types[value[2]] }}?action=repeal&work_number={{ value[0]|safe }}" class="mintip" title="撤销工单">撤销</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="ui-mask" id="mask" onselectstart="return false"></div>
    <div class="ui-dialog" id="dialogMove" onselectstart='return false;'>
        <div class="ui-dialog-title" id="dialogDrag"  onselectstart="return false;" >工单详情
            <span style="float: right;margin-left: -14%" class="ui-dialog-submit">
                <a href="javascript:hideDialog();" >关闭</a>
            </span>
        </div>
        <div class="ui-dialog-content" id="dialog-content"></div>
    </div>
    <script>
        $(document).ready(table_order('table',1));
    </script>
{% endblock %}