{% extends "base.html" %}
{% block page %}
    <div style="clear:both;"></div>
    <div class="div"><h5>{{ total }}</h5></div>
    <div style="text-align: center;width:98%;margin-left:1%">
        <table class="table table-hover table-striped table-condensed table-bordered" id="table">
            <thead>
                <tr>
                    {% for tab in tables %}
                        <th style="text-align: center;vertical-align: middle">{{ tab }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% if work_orders %}
                <tbody>
                    {% for value in work_orders %}
                        <tr>
                            <td class="td_style" style="text-align: center">
                                <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ value[0] }}</div>
                            </td>
                            {% for val in value[3:5] %}
                                <td class="td_style" style="max-width:130px;text-align: center">
                                    <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ val }}</div>
                                </td>
                            {% endfor %}
                            <td class="table_list" style="max-width:200px">{{ value[5] }}</td>
                            <td class="table_list" style="max-width:300px">{{ value[6] }}</td>
                            {% for val in value[7:] %}
                                <td class="td_style" style="text-align: center">
                                    <div style="word-wrap: break-word;word-break: break-all;overflow: hidden;width: auto}">{{ val }}</div>
                                </td>
                            {% endfor %}
                            <td class="td_style" style="text-align: center">
                                <a href="#" onclick="work_details_show('/work_details/application/{{ value[0]|safe }}')" class="mintip" title="查看工单详情" >
                                    <i class="fas fa-align-left"></i>
                                </a>
                            </td>
                            <td class="td_style" style="text-align: center">
                                {% if value[2] in ['未审核','未受理','已退回'] %}
                                    <a href="/work_order_list?action=repeal&work_number={{ value[0]|safe }}" class="mintip" title="撤销工单申请"><i class="fas fa-redo"></i>可撤销</a>
                                {% elif value[2] == '受理中' %}
                                    <i class="fas fa-spinner fa-spin"></i>{{ value[2] }}
                                {% else %}
                                    {{ value[2] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
    <div class="ui-mask" id="mask" onselectstart="return false"></div>
    <div class="ui-dialog" id="dialogMove" onselectstart='return false;'>
        <div class="ui-dialog-title" id="dialogDrag"  onselectstart="return false;" >工单详情
            <span style="float: right;margin-left: -14%" class="ui-dialog-submit">
                <a href="javascript:hideDialog();" >关闭</a>
            </span>
        </div>
        <div class="ui-dialog-content" id="dialog-content"></div>
    </div>
    <script>
        $(document).ready(table_order('table',1));
    </script>
    {% if Msg %}
        <script>
            "use strict";
            js_msg('{{ Msg|safe }}',3000,'info');
            setTimeout(function () {
                location.href='/work_order_list';
            },4000);
        </script>
    {% endif %}
{% endblock page %}