{% extends "base.html" %}
{% block page %}
    <strong style="font-weight: bold;font-size: large">待办运维工单汇总</strong>
    {% set tables = ('工单号','申请日期','工单类型','申请人','执行人','状态') %}
    <div style="margin-left: 1%;margin-right: 2%">
        <table class="table table-hover table-striped table-condensed table-bordered" style="margin-top: 1%" id="table">
            <thead>
                <tr>
                    {% for tab in tables %}
                        <th class="td_style" style="text-align: center;">{{ tab }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if work_lists %}
                    {% for value in work_lists %}
                        <tr>
                            <td class="td_style" style="text-align: center"><a href="/{{ value[2] }}?action=query&work_number={{ value[0] }}">{{ value[0] }}</a></td>
                            <td class="td_style" style="text-align: center">{{ value[1] }}</td>
                            <td class="td_style" style="text-align: center">{{ source_types[value[2]] }}</td>
                            {% for val in value[3:] %}
                                <td class="td_style" style="text-align: center">{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(table_order('table',1));
    </script>
{% endblock %}