{% extends "page.html" %}
{% block zk_show %}
<div class="div"><p>Zookeeper信息汇总</p></div>
<div class="left_txt">
    <p>{{ URLS[:]|join('>') }}信息:</p>
    <ul>
        {% if DATAS %}
            {% for data in DATAS %}
                {% if URLS|length == 0 %}
                    <li><a href="/zk/info?path={{ data }}">{{ data }}</a></li>
                {% endif %}
                {% if URLS|length > 0 %}
                    <li><a href="/zk/info?path={{ URL }}:{{ data }}">{{ data }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if INFOS %}
            {% for info in INFOS %}
                <li>{{ info }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock zk_show %}